# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

#Archivos de log (omitidos por ser muy grandes)
log/*

#Ejecutable de la aplicacion (siempre puede ser generado)
Graficador_Data_Logger_OM
